@CHARSET "UTF-8";

.edit_error_class {
	display: block;
	color: red;
}

.formTitle {
	font-size: xx-large;
	font-weight: bold;
}

.formLabel {
	font-size: x-large;
	font-weight: bold;
	text-indent: 2em;
}

.formEntry {
	font-size: x-large;
}

.drinkList {
	
}

.pageTitle {
	font-size: xx-large;
	font-weight: bold
}

.drinkTitle {
	font-size: x-large;
	font-weight: bold
}

.drinkText {
	font-size: large
}

.allgone {
	font-weight: bold;
	color: red
}
.nearlygone {
	font-weight: bold;
	color: #D18017;	
}
.beingdrunk {
	font-weight: bold;
	color: olive;
}

.plenty {	
	font-weight: bold;
	color: green	
}

.notyetready {
	font-weight: bold;
	color: #72059a;
}
