<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<stringAttribute key="bad_container_name" value="/LiftDrinkService/run-c"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LiftDrinkService/lib_managed/scala_2.8.1/test/scalatest-1.3.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.scalatest.tools.Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-p &quot;${project_loc:/LiftDrinkService}/target/eclipse/test-classes&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LiftDrinkService"/>
</launchConfiguration>
